* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.netflix-container {
  width: 100%;
  overflow: hidden;
}

.nav-intro-section {
  position: relative;
  height: 600px;
  background-color: #00000060;
}
.nav-intro-section .back-img {
  position: absolute;
  width: 1100px;
  top: 0px;
  left: 0px;
  z-index: -1;
  image-resolution: 100%;
}
.nav-intro-section nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 45px 1px 45px;
  background-color: transparent;
}
.back {
  overflow: hidden;
}

.nav-img {
  width: 107px;
}
.nav-img img {
  width: 100%;
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding-top: 4px;
}

.sign-out a {
  text-decoration: none;
  background-color: #e50914;
  color: rgb(255, 255, 255);
  padding: 7px 17px 7px 17px;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 5px;
}

.default a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  padding: 7px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
}
/* .lang-english-hindi a:nth-child(1) {
  width: 100px;
  text-align: center;
  display: block;
}
.lang-english-hindi a:nth-child(2) {
  width: 100px;
  top: 68px;
  text-align: center;
  display: block;
} */
/* 
.lang-english-hindi a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: none;
  background-color: #333333;
  position: absolute;
} */

.welcome {
  width: 80%;
  margin: auto;
  padding-top: 130px;
  text-align: center;
  color: #ffff;
  font-family: sans-serif;
}
.welcome p {
  font-size: 20px;
}
.welcome h1 {
  font-size: 45px;
  padding-top: 20px;
}
.welcome h3 {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 40px;
  letter-spacing: 1px;
}
.welcome a,
.faq--container a {
  text-decoration: none;
  font-size: 16px;
  background-color: #e50914;
  padding: 10px 20px;
  color: #fff;
}

.welcome a img,
.faq--container a img {
  width: 12px;
}

.hr {
  width: 100%;
  height: 8px;
  background-color: #333333;
}

.injoy--tv--container {
  background-color: #000000;
  color: #ffff;
}
.Enjoy-tv {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

.Enjoy-tv h1 {
  font-size: 34px;
}

.Enjoy-tv p {
  font-size: 18px;
  padding-top: 15px;
  line-height: 25px;
}

.Enjoy-tv .tv {
  width: 100%;
}

.tv {
  position: relative;
}

.tv img {
  width: 100%;
  position: relative;
  z-index: 5;
}

.tv video {
  width: 70%;
  position: absolute;
  top: 21%;
  left: 15%;
  z-index: 1;
}

.download-show {
  background-color: #000000;
  color: #fff;
  text-align: center;
}
.download-show--container {
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 80px 0px;
}
.download-show--container h1 {
  font-size: 35px;
}

.download-show--container p {
  font-size: 18px;
  padding-top: 15px;
  line-height: 25px;
}
.mobile-girl {
  width: 80%;
  margin: auto;
}
.mobile-girl img {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 400px;
}

.s-thing {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 200px auto 0px auto;
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 8px 15px;
  background-color: #000000;
}

.s-img {
  width: 43px;
  height: 60px;
}
.s-img img {
  width: 100%;
  margin: auto;
}
.down {
  padding-right: 40px;
}
.down h3 {
  font-size: 14px;
}

.down p {
  color: rgb(0, 0, 189);
  padding: 0px;
  font-size: 13px;
}

.watch-show,
.child-profiles,
.faq {
  background-color: #000000;
  color: #fff;
  text-align: center;
}

.watch-show--container,
.child-profiles--container,
.faq--container {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 60px;
}

.watch-show--container h1,
.child-profiles--container h1,
.faq--container h1 {
  font-size: 35px;
}

.watch-show--container p,
.child-profiles--container p {
  font-size: 18px;
  padding-top: 15px;
  line-height: 25px;
}

.watch--video--img {
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 10;
}
.watch--video--img img {
  width: 100%;
}

.watch--video--img video {
  width: 63%;
  position: absolute;
  top: 10%;
  left: 19%;
  z-index: -10;
}

.chld--img {
  width: 100%;
  padding-top: 40px;
}

.chld--img img {
  width: 100%;
}

.faq--container h1 {
  padding-bottom: 20px;
}

.accordion-item {
  border: none;
  margin: 10px auto;
  background-color: #000000;
}

.accordion-item button {
  background-color: #333333;
  color: #fff;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #333333;
}

.accordion-button:focus {
  border: none;
  /* border-color: #000000;
  border-bottom-color: #000000; */
  box-shadow: none;
}

.accordion-body {
  text-align: start;
}

.accordion-collapse {
  margin-top: 4px;
  background-color: #333333;
  color: #fff;
}

.faq--container a {
  display: inline-block;
  margin-top: 30px;
}

.footer {
  background-color: #000000;
  color: #737373;
}
.footer--contaier {
  width: 80%;
  padding-top: 30px;
  margin: auto;
  padding-bottom: 15px;
}

.footer--contaier:first-child {
  font-size: 15px;
}

.footer-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer-links ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #737373;
  font-size: 12px;
}
